# Ambiente Python
venv/*
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/*
env/
ENV/
.venv/*
.env
__pycache__/
*.pyc

# Configurações sensíveis
.env
*.pkl
cookies*.txt
cookies*.json
cookies/
cookies/*
# Logs e debug
webapp/logs/
debug/
*.log

# IDE e editores
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db
ehthumbs.db

# Arquivos temporários
*.tmp
*.bak
*.old
robo/google-chrome-stable_current_amd64.deb
*.deb
