version: '3.8'

services:
  evolution-api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:v2.3.3
    restart: always
    ports:
      - "5080:5080"
    env_file:
      - .env
    volumes:
      - evolution_instances:/evolution/instances
    depends_on:
      - postgres
      - redis
    networks:
      - evolution_network

  postgres:
    image: postgres:13
    container_name: evolution_postgres
    restart: always
    environment:
      POSTGRES_USER: evolution
      POSTGRES_PASSWORD: evolution
      POSTGRES_DB: evolution
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - evolution_network

  redis:
    image: redis:7
    container_name: evolution_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - evolution_network
    command: redis-server --bind 0.0.0.0 --protected-mode no

volumes:
  evolution_instances:
  postgres_data:
  redis_data:

networks:
  evolution_network:
    driver: bridge
